<h2>注文情報確認</h2>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% sum_all = 0 %>
    <%= @cart_items.each do |cart_item| %>
    <tr>
      <td><%= attachment_image_tag cart_item.product, :image, :fill, 100, 100, fallback: "no_img.jpg" %></td>
      <td><%= cart_item.product.name %></td>
      <td><%= price_include_tax(cart_item.product.price) %></td>
      <td><%= cart_item.quantity %></td>
      <td>
        <%= sum_product = price_include_tax(cart_item.product.price) * cart_item.quantity %>
        <% sum_all += sumproduct %>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr><th>送料</th><td><%= @order.postage %></td></tr>
    <tr><th>商品合計</th><td><%= sum_all.to_i %></td></tr>
    <tr>
      <th>請求額</th>
      <td>
        <% billing_amount = sum_all + @order.postage.to_i %>
        <%= billing_amount.to_i %>  
      </td>
    </tr>
  </thead>
</table>

<h2>支払方法</h2>
  <%= @order.payment_method %>

<h2>お届け先</h2>
  <%= "#{@order.postal_code} #{@order.address} " %><br>
  <%= @order.name %>


<%= form_with model: @order, url: customer_orders_path, method: :post, local: true do |f| %>

  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.hidden_field :postal_code, :value => "#{@order.postal_code}" %>
  <%= f.hidden_field :address, :value => "#{@order.address}" %>
  <%= f.hidden_field :name, :value => "#{@order.name}" %>
  <%= f.submit "購入を確定する" %>

<% end %>
