<div class="container">

  <h2>注文情報確認</h2>

  <div class="row">
    <div class="col-xs-9">
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.product, :image, :fill, 10, 10, fallback: "no_img.jpg" %>
              <%= cart_item.product.name %>
            </td>
            <td><%= price_include_tax(cart_item.product.price_without_tax) %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= price_include_tax(cart_item.product.price_without_tax) * cart_item.quantity %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-3">
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr><th>送料</th><td><%= @order.postage %></td></tr>
          <tr><th>商品合計</th><td><%= @sum.floor %></td></tr>
          <tr>
            <th>請求額</th>
            <td>
              <%= @order.billing_amount %>  
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <h2>支払方法</h2>
    <%= @order.payment_method %>

  <h2>お届け先</h2>
    <%= "#{@order.postal_code} #{@order.address} " %><br>
    <%= @order.name %>


  <%= form_with model: @order, url: customer_orders_path, method: :post, local: true do |f| %>
    <!--ユーザーに情報を入力させず値をcreateアクションに送る(会員idと住所と請求額を)-->
    <!--確認画面のため、このページで住所や商品を変更させないために-->
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.hidden_field :postal_code, :value => "#{@order.postal_code}" %>
    <%= f.hidden_field :address, :value => "#{@order.address}" %>
    <%= f.hidden_field :name, :value => "#{@order.name}" %>
    <%= f.hidden_field :billing_amount, :value => @order.billing_amount %> 
    <%= f.submit "購入を確定する", class: "btn btn-primary" %>
  <% end %>

</div>