<div class="container">

  <h2>注文情報入力</h2>


  <%= form_with model: @order, url: confirm_customer_orders_path, method: :post, local: true do |f| %>

    <h3><strong><%= f.label :支払方法 %></strong></h3>
      <div class="row", style="padding-left: 10px;">
        <div class="col-xs-3">
          <label>
            <%= f.radio_button :payment_method, :"クレジットカード" %>クレジットカード
          </label>
        </div>
      </div>
      <div class="row", style="padding-left: 10px;">
        <div class="col-xs-3">
          <label>
            <%= f.radio_button :payment_method, :"銀行振込" %>銀行振込
          </label>
        </div>
      </div>

    <h3><strong><%= f.label :お届け先 %></strong></h3>
      <div class="row", style="padding-left: 10px;">
        <div class="col-xs-3">
          <label>
            <%= f.radio_button :add, 1, checked: true %>ご自身の住所
          </label>
        </div>
      </div>

      <div class="row", style="padding-left: 10px;">
        <div class="col-xs-3", style="padding-left: 40px;">
          <%= @customer.postal_code %>
          <%= @customer.residence %>
        </div>
      </div>
      <div class="row", style="padding-left: 10px;">
        <div class="col-xs-3", style="padding-left: 40px;">
          <%= @customer.first_name %>
          <%= @customer.last_name %>
        </div>
      </div>
    
      <div class="row", style="padding-left: 10px;">
        <div class="col-xs-3">
          <label>
            <%= f.radio_button :add, 2 %>登録済み住所から選択
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3", style="padding-left: 50px;">
          <!--form_withで送信する@orderモデルのaddress属性。contorollerで定義したログイン会員。valueはid。表示するのは定義した住所。-->
          <label>
            <%= f.collection_select :address, @shipping_addresses, :id, :order_address %>
          </label> 
        </div>
      </div>

      <div class="row", style="padding-left: 10px;">
        <div class="col-xs-3">
          <label>
            <%= f.radio_button :add, 3 %>新しいお届け先
          </label>
        </div>
      </div>

    <%= f.fields_for :new_add do |na| %> <!--親モデル@orderの子モデルnew_addを-->
    
      <div class="row">
        <div class="col-xs-3", style="padding-left: 48px;">
          <strong>郵便番号(ハイフンなし)</strong>
        </div>
          <%= na.text_field :postal_code %>
      </div>

      <div class="row">
        <div class="col-xs-3", style="padding-left: 48px;">
          <strong>住所</strong>
        </div>
          <%= na.text_field :address %>
      </div>
          
      <div class="row">
        <div class="col-xs-3", style="padding-left: 48px;">
          <strong>宛名</strong>
        </div>
          <%= na.text_field :name %>
      </div>
          
    <% end %>
      
      
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>

  <% end %>
</div>