<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h3>ジャンル検索</h3>
			<% @genres.each do |genre| %>
				<%= link_to customer_products_path(genre: genre.id) do %>
					<%= genre.name %><br>
				<% end %>
			<% end %>
		</div>

		<div class="<col-xs-6 col-xs-offset-3">
			<p>
				ようこそ、NaganoCakeへ！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-3">
			<h2>おすすめ商品</h2>
		</div>
	</div>

	<div class="row">
		<div class="clearfix product-box col-xs-offset-3">
			<% @products.each do |product| %>
			  <div class="product-container col-xs-3">

					<%= link_to customer_product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>
							<div id="img_field" class="product">
								<%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_img.jpg") %>
							</div>
							<p class="products-name">
								<%= product.name %>
							</p>
					<% end %>

					<% if product.sales_status == true %>
					<%# to_s(:delimited)は自動でカンマで桁区切りを行ってくれる %>
						<p>¥<%= product.price_without_tax.to_s(:delimited) %></p>
					<% elsif product.sales_status == false %>
						<p class="soldout">売り切れ中</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-11">
			<%= link_to "もっと見る>", customer_products_path %>
		</div>
	</div>
</div>