<table class="table table-hover table-bordered table-condensed">
  <thead>
		<tr class="info">
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<% customers.each do |customer| %>
	<tbody>
		<tr>
		  <td class="info col-xs-1"><%= customer.id %></td>
			<td class="text-left">
			  <%= link_to admin_customer_path(customer), class: "btn_link" do %>
			    <i class="far fa-user"></i>
			    <%=  customer.first_name %><%= customer.last_name %>
			  <% end %>
			</td>
			<td class="text-left"><%= customer.email %></td>
			<td class="col-xs-2">
			  <%# ture=有効 false=退会済み %>
			  <% if customer.is_valid == "Available" %>
				  <p>有効</p>
				<% elsif customer.is_valid == "Invalid" %>
				  <p>退会済み</p>
				<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>