<div class="row">
  <div calss="col-xs-12">

    <h2 class="head-line title_h2 text-center"><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h2>
    <%# form_tagとform_forの機能が合わさったみたいな感じ %>
  <%= form_with(model: @customer, url:admin_customer_path, local: true ,method: :patch) do |f| %>

    <div class="col-xs-10">
      <div class="form-group col-xs-9">
        <%= f.label :"会員ID", class: "col-sm-4 control-label" %>
        <%= f.label :"#{@customer.id}" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"氏名", class: "col-sm-4 control-label" %>
        <%= f.text_field :last_name, class: "col-sm-3 form-control-static name" %>　
        <%= f.text_field :first_name, class: "col-sm-3 form-control-static name" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"フリガナ", class: "col-sm-4 control-label" %>
        <%= f.text_field :kana_last_name, class: "col-sm-3 form-control-static name" %>
        <%= f.text_field :kana_first_name, class: "col-sm-3 form-control-static name" %>
      </div>

        <div class="form-group col-xs-9">
        <%= f.label :"郵便番号", class: "col-sm-4 control-label" %>
        <%= f.text_field :postal_code, class: "col-sm-4 form-control-static postal_code" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"住所", class: "col-sm-4 control-label" %>
        <%= f.text_field :residence, class: "col-sm-8 form-control-static address"  %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"電話番号", class: "col-sm-4 control-label" %>
        <%= f.text_field :phone_number, class: "col-sm-4 form-control-static" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
        <%= f.text_field :email, class: "col-sm-6 form-control-static"%>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"会員ステータス", class: "col-sm-4 control-label" %>
        　<%= f.radio_button :is_valid, "Available" %>
        　<%= f.label :is_valid, "有効", {value: :"Available"} %>
        　<%= f.radio_button :is_valid, "Invalid" %>
        　<%= f.label :is_valid, "退会済み", {value: :"Invalid"} %>
      </div>
    </div>

      <div class="actions  col-xs-9 col-xs-offset-4">
        <%= f.submit '変更を保存する' ,class: "btn btn-primary" %>
      </div>

  <% end %>

  </div>
</div>
