<div class="container">

  <h2>注文履歴詳細</h2>
 
  <div class="row">
    <div class="col-xs-2">
      <h4>購入者</h4>
    </div>
    <div class="col-xs-10">
      <%= @order.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <h4>配送先</h4>
    </div>
    <div class="col-xs-10">
      <%= @order.address %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-2">
      <h4>支払方法</h4>
    </div>
    <div class="col-xs-10">
      <%= @order.payment_method %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= form_with model: @order, url: admin_order_path(@order), method: :PATCH, local: true do |f| %>
      <h4>注文ステータス:</h4>
    </div>
    <div class="col-xs-10">
      <%= f.select :order_status, Order.order_statuses.keys %>
      <%= f.submit "更新", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
          <% @sub_sum = 0 %> <!--小計の初期値0-->
          <% @order.order_products.each do |order_product| %>
        <tbody>
         <tr>
            <td>
              <%= order_product.product.name %>
            </td>
            <td><%= price_include_tax(order_product.product.price_without_tax)  %></td> <!--ヘルパー定義の税込価格表示-->
            <td><%= order_product.quantity %></td>
            <td>
              <!--税込価格と購入数量の乗算を初期値0の小計@sub_sumに代入-->
              <% @sub_sum = price_include_tax(order_product.product.price_without_tax) * order_product.quantity %>
              <%= @sub_sum.floor %> <!--floorメソッドで小数点以下切り捨てて表示-->
            </td>
            <td>
              <%= form_with model: order_product, url: admin_order_product_path(order_product), method: :patch, local: true do |f| %>
              <%= f.select :production_status, OrderProduct.production_statuses.keys %>
            </td>
            <td><%= f.submit "更新", class: "btn btn-primary" %></td>
              <% end %>
          </tr>
        </tbody>
          <% end %>
      </table>
    </div>

    <div class="col-xs-3">
      <table class="table">
        <tr>
          <td style="border-style: none;"><strong>商品合計</strong></td>
          <td style="border-style: none;"><%= @sum_product.floor %></td>
        </tr>
        <tr>
          <td style="border-style: none;"><strong>送料</strong></td>
          <td style="border-style: none;"><%= @order.postage %></td>
        </tr>
        <tr>
          <td style="border-style: none;"><strong>請求金額合計</strong></td>
          <td style="border-style: none;"><strong><%= @sum_all %></strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>