<div class="container">
  <div class="row">
      <div class="col-xs-3">
        <h3>ジャンル検索</h3>
          <% @genres.each do |genre| %>
            <%= link_to customer_products_path(genre: genre.id) do %>
              <%= genre.name %><br>
            <% end %>
          <% end %>
      </div>
  </div>

    <div class="row">
      <div class="col-xs-4 col-xs-offset-2 product-show">
        <%= attachment_image_tag(@product, :image, size: "340x220", fallback: "no_img.jpg" ) %>
      </div>

      <div class="row">
        <div class="col-xs-6 product-show">
          <div class="product-description">
            <div class="field product-name">
              <h2><%= @product.name %></h2>
            </div>
                <div class="field">
                  <%= @product.description %>
                </div>
                <div class="field product-price">
                  <h3>¥ <%= (@product.price_without_tax).to_s(:delimited) %>
                      <span class="tax">(税込)</span>
                  </h3>
              </div>
          </div>
                <% if @product.sales_status == true %>
                  <% if @product.genre.valid_flag == true %>
                    <%= form_for(@cart_item , url: customer_cart_items_path, method: :post) do |f| %>

                      <%= f.hidden_field :product_id, value: @product.id %>
                      <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
                      <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-primary" %>
                    <% end %>
                  <% else %>
                    <h3>売り切れ中</h3>
                  <% end %>
                <% elsif @product.sales_status == false %>
                  <h3>売り切れ中</h3>
                <% end %>
              </div>
          </div>
        </div>
      </div>
