<div class="row">
  <div class="col-xs-12">
    <br>
    <div class="col-xs-1"></div>
    <h2 class="col-xs-3 well text-light">ジャンル一覧・追加</h2>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <br><br>
    <div class="col-xs-1"></div>
      <%= form_for @genre, :url => {:action => :create} do |f| %>
        ジャンル
        <%= f.text_field :name %>
        <%= f.radio_button :valid_flag, true %>
        <%= f.label :valid_flag, "有効", {value: :true} %>
        <%= f.radio_button :valid_flag, false %>
        <%= f.label :valid_flag, "無効", {value: :false} %>
        <%= f.submit "追加", class: "btn btn-info" %>
      <% end %>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <br><br>
    <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <table class="table table-hover table-inverse table-bordered">
                <thead>
                  <tr class="info">
                    <th>ジャンル</th>
                    <th>状態</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                    <% @genres.each do |genre| %>
                      <tr>
                        <td class="text-left"><%= genre.name%></td>

                        <% if genre.valid_flag == true %>
                          <td class="genre-td"></i>有効</td>
                        <% elsif genre.valid_flag == false %>
                          <td class="genre-td"></i>無効</td>
                        <% end %>
                        <td class="genre-td"><%= link_to "編集する", edit_admin_genre_path(genre), class: "glyphicon glyphicon-pencil btn btn-success" %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
        <div class= "text-center"><%= paginate(@genres) %></div>
  </div>
</div>



