<div class="container">
  <div class="admin-login">
    <div class="row">
      <h2 style="margin-top: 64px;">管理者ログイン</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="field" style="padding-top: 16px;">
          <%= f.label :email, "メールアドレス", class: "col-xs-2 col-xs-offset-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-4" %>
        </div>
      </div>

      <div class="row">
        <div class="field" style="padding: 16px 0;">
          <%= f.label :password, "パスワード", class: "col-xs-2 col-xs-offset-1" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-xs-4" %>
        </div>
      </div>

      <div class="row">
        <div class="actions col-xs-offset-4" style="padding-top: 32px;">
          <%= f.submit "ログイン", class: "btn btn-primary", style: "padding: 6px 54px;" %>
        </div>
      </div>
    <% end %>
  </div>
</div>