<div class="container">

<h2>商品詳細</h2>

<%= attachment_image_tag @product, :image %>

<p>商品名:<%= @product.name %></p>

<p>商品説明:<%= @product.description %></p>

<p>ジャンル:<%= @product.genre.name %></p>

<p>税込価格(税別価格):</p> <!--表示方法まだ分かってないです-->

<p>販売ステータス:
  <% if @product.sales_status == true %> <!--もし商品の販売ステータスがtrueなら-->
    <span>販売中</span>
  <% else %>
    <span>販売停止中<span>
  <% end %>
</p>

<%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-primary" %>

</div>