<!-- 管理者側ヘッダー -->

<nav class="nav navbar-nav navbar-left">
  <%= link_to "ながのCAKE", admins_top_path %>
</nav>

<nav class="nav navbar-nav navbar-right">
  <ul>
    <li><%= link_to '商品一覧', admin_products_path %></li>
    <li><%= link_to '会員一覧', admin_customers_path %></li>
    <li><%= link_to '注文履歴一覧', admin_orders_path %></li>
    <li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
    <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
  </ul>
</nav>
