<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b5fa4724ff.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">
      <header>
        <div class="container">

        <% if admin_signed_in? %>
          <%= render 'layouts/admin_header' %>
        <% else %>
          <%= render 'layouts/customer_header' %>
        <% end %>
        
        <% if admin_signed_in? %>
          <div class="search" style="float: right;">
            <%= form_tag(admin_search_path, method: :get) do %>
            <%= text_field_tag 'search[content]' %>
            <%= select_tag 'search[model]', options_for_select({"Customer" => "customer", "Product" => "product" }) %>
            <%= select_tag 'search[method]', options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
            <%= submit_tag '検索' %>
          <% end %>
          </div>
        <% end %>

        </div>
      </header>

      <div class="container">

      <%= notice %>
    </div>

    <%= yield %>

      <footer>
        <P>©Nagano Cake</p>
      </footer>
    </div>
  </body>
</html>
